/* basic reset */
html, body, h1, h2 {
  padding: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav li{
  list-style: none;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: white;
}

nav ul li:hover, nav ul li:visited, nav ul li:link {
  text-decoration: none;
  color: white;
}

.navigation {
  display: flex;
  flex-direction: row;
  color: white;

}

#flexnav {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  float: right;
  color: white;
  padding-right: 1em;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

h1{
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  float: left;
  color: white;
  font-size: 4em;
  padding-left: 1em;
  padding-top: .25em;
}

#background {
  background-image: url(/img/self.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  min-height: 50em;
  width: 100%
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;

}

#Oxford{
  font-weight: bold;
  font-size: .65em;
}

#instafeed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#selector{
  margin: 0 auto;
  padding: 1em;
  font-size: 1.5em;
}

footer {
  display: flex;
  align-items: flex-end;
}

#socialmedia{
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
}

#row {
  display: flex;
  flex-direction: column;
}

.socicon-github:before {
    content: "\e032";
    color: white;
}

.socicon-facebook:before {
    content: "\e028";
    color: white;
}

.socicon-mail:before {
    content: "\e050";
    color: white;
}
