/* basic reset */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url(../img/self.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 50em;
  width: 100%;
  height: 100%
}

/* upper right hand navigation menu */

#localnavigation {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  float: right;
  color: white;
  padding-right: 1em;
  width: 50%;
}

#localnavigation li {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 1em;
}


ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

nav li{
  list-style: none;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: white;
}


nav ul li:hover, nav ul li:visited, nav ul li:link {
  text-decoration: none;
  color: white;
}

.navigation {
  display: flex;
  flex-direction: row;
  color: white;
}

/* the background and every descendent immediately below */
#background {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  flex-direction: row-reverse;
}

/* my name at the top */
h1{
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  float: left;
  color: white;
  font-size: 5em;
  padding-top: .25em;
}

/* my name at the top + the social media icons together in a div */
#row {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 50%;
}

/* social media icons */
#socialmedia{
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  display: flex;
  flex-direction: row;
}

.socicon-github:before {
    content: "\e032";
    color: white;
}

.socicon-facebook:before {
    content: "\e028";
    color: white;
}

.socicon-linkedin:before {
    content: "\e04c";
    color: white;
}



/* resume page */
#resume > a{
  width: 100%;
  height: 100%;
}

@media (max-width: 615px) {
  /* ... styles here ... */
